/* CSS RESET*/

body,
h1,
h3,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  opacity: 0.9;
}
h2,
h4 {
  margin: 15px;
  opacity: 0.9;
}

ol,
ul {
  list-style: none;
  color: seashell;
}

a {
  all: unset;
}

a:hover {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
}

/* Header Section */
header img {
  height: 50px;
  margin-left: 10px;
}

header ul {
  display: flex;
  gap: 20px;
  text-decoration: underline;
  margin-right: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  border-bottom: 1px solid seashell;
}

/* Mission Section */
.mission {
  display: flex;
  justify-content: center;
}

.mission-background {
  background-image: url("../images/img-mission-background.jpg");
  background-size: cover;
  width: 1200px;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mission-background div {
  background-color: black;
  text-align: center;
  width: 1200px;
  opacity: 0.9;
}

/* Tea Of The Month Section*/
.tea-of-month {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tom-heading {
  width: 1000px;
  text-align: center;
}
figure {
  margin: 10px 15px;
}
figcaption h4 {
  text-align: center;
  margin-top: 10px;
}
.tom-pictures img {
  height: 200px;
  width: 300px;
}

.tom-pictures {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Location Section */
.locations {
  display: flex;
  justify-content: center;
}

.location-content {
  background-image: url("../images/img-locations-background.jpg");
  width: 1200px;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.location-boxes {
  margin-top: 15px;
  display: flex;
  gap: 40px;
}
.location-boxes div {
  background-color: black;
  width: 300px;
  height: 300px;
  text-align: center;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.contact {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.copyright {
  margin-left: 20px;
  margin-bottom: 20px;
}
